<h2 class="page-header">Select A Country</h2>
<div class="container-image">
  <a href="/search/au" id='au'><img src="https://www.graphicmaps.com/r/w1047/images/flags/au-flag.jpg" alt="1"></a>
  <a href="/search/nz" id='nz'><img src="https://www.graphicmaps.com/r/w1047/images/flags/nz-flag.jpg" alt="2"></a>
  <a href="/search/us" id='us'><img href="/search/us" src="https://www.graphicmaps.com/r/w1047/images/flags/us-flag.jpg" alt="3"></a>
  <a href="/search/gb" id='gb'><img src="https://www.graphicmaps.com/r/w1047/images/flags/gb-flag.jpg" alt="4"></a>
</div>